
<form action='/clucks' method='POST' style="border: 2px solid black">
    
    </br>
    
    <div>
<label for='content'>Write Your content</label>
    </br>
<textarea  cols='100' rows='20' name='content' placeholder='write your cluck'></textarea>
    </div>
</br>
<div>
    <label for="image_url">Image Url:</label>
</br>
<input type="url" name="image_url">
</div>
</br>
    <input type='submit' value='Cluck'>
</form>

    <span> <form action='/clucks/sign_out' method ='POST'>
        <input type="submit" value="Sign Out">
        </br></span>
        
        </form>
   