
<form action='/clucks' method='POST'>
    <div>
<label for='content'>Write Your content</label>
    </br>
<textarea  cols='50' rows='20' name='content' placeholder='write your cluck'></textarea>
    </div>
</br>
<div>
    <label for="image_url">Image Url:</label>
</br>
<input type="url" name="image_url">
</div>
</br>
    <input type='submit' value='Cluck'>
    </form>

    <form action='/clucks/sign_out' method ='POST'>
        <input type="submit" value="Sign Out">
        </br>
        
        </form>
    <span>
        username: 
    </span>