<h1>Sign In</h1>

    
        
        <div style="border: 2px solid black">
            <img src="https://image.freepik.com/free-vector/colorful-realistic-rooster_1284-10245.jpg" height="20px" width="20px" alt="image">

            
        

<form action='/clucks/sign_in' method='POST' style="border: 2px solid black;">
    <label for="username">Username:</label>
</br>
<input type="text" name="username" id="username" placeholder="e.g manpreet">
</br>
</br>
<input type="submit" value="Sign In">
</br>
</form>

