<h1>Sign In</h1>
<form action='/clucks/sign_in' method='POST'>
    <label for="username">Username:</label>
</br>
<input type="text" name="username" id="username">
</br>
</br>
<input type="submit" value="Sign In">
</br>
</form>

