<form action='/'>
    <label for="username">Username:</label>
</br>
<input type="text" value="username" name="username">
</br>
<input type="submit" value="Sign In">
<input type="submit" value="Sign Out">
</form>