<img src="/images/cute_dogggo.webp" height="200px" alt="dog">

<div>
    <h1>welcome user</h1>
</div>
<form action='/sign_in' method="POST" class='form-inline'>
    <input class='form-control mr-2' name='username' placeholder='Username'>
    <button type='submit' class='btn btn-outline-dark'>Sign In</button>
  </form>