<img src="/images/cute_dogggo.webp" height="200px" alt="dog">

<div>
    <% if (username) { %>
        <span class='navbar-text text-dark'>
          👩‍💻 <%= username %>
        </span>
        <form action='/sign_out' method="POST">
          <input class='form-control mr-2' type="submit">
        </form>
      <% } else { %>
        <form action='/sign_in' method="POST" class='form-inline'>
          <input class='form-control mr-2' name='username' placeholder='Username'>
          <button type='submit' class='btn btn-outline-dark'>Sign In</button>
        </form>
      <% } %>
</div>